.contact{
  padding: 0 169px;
  background: #E5E5E550;
  &__map{
    width: 60%;
    padding-bottom: 169px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__col{
    &-title{
      @include text(600,48px,59px,#000);
    }
    &-list{
      @include text(500,20px,24px,#000);
      list-style-type: none;
      margin: 42px 0 79px;
    }
  }
  &__link{
    justify-content: flex-start;
  }

}